.footer {
    background-color: var(--accent-bg-cl);
    padding: 60px 0;
}

    .footer-contanier {
        text-align: center;

        @media screen and (min-width: 1200px) {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
            }
    }
.address-social{

        @media screen and (min-width: 768px){
         display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 60px;
         gap: 185px;
        }
                @media screen and (min-width: 1200px){
                    gap: 70px;
                    margin-bottom: 0;
                
                }
                

            
             
        }

.address-footer{
    text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
        text-align: center;
            margin-bottom: 0;
        }

     @media screen and (min-width: 1200px) {
        text-align: start;
               
    }
     

    
}



.footer-socials{
    text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width: 1200px){
        display: flex;
        flex-direction: column;
        justify-content: center;
     
    }

    

   @media screen and (min-width: 1200px){
    text-align: left;
    margin-bottom: 0;
 }
}
   

.footer-list-socials {
    display: flex;
    text-align: center;
    justify-content: center;

       @media screen and (min-width: 768px) {
            display: flex;
             align-items: center;
            
        }

        @media screen and (min-width: 1200px) {
        display: flex;
    }
      
}

.link-footer {
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: calc(31/26);
    text-decoration: none;
    color: var(--light-txt-cl);
}

.address {
    margin-top: 20px;
}

.link-address {
    font-style: normal;
    line-height: calc(24/14);
    text-decoration: none;
    color: var(--light-txt-cl);

    &:hover,
    &:focus {
            color: var(--accent-txt-cl);
        }
}

.link-address-item {
    font-style: normal;
    line-height: calc(24/14);
    text-decoration: none;
    color: var(--address-txt-cl);
    transition: color var(--animation);

    &:hover,
    &:focus {
            color: var(--accent-txt-cl);
        }
}


.list-item-footer {
    font-style: normal;
    line-height: calc(24/14);
    text-decoration: none;
    color: var(--light-txt-cl);
    margin-bottom: 9px;
}

.list-item-footer:last-child {
    margin-bottom: 0px;
}

.text-footer {
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    color: var(--light-txt-cl);
    margin-bottom: 20px;
}


.register-form-Footer {
    

     @media screen and (min-width: 1200px){
        text-align: left;
      

     }
}

.lebel-footer {
    display: flex;
        flex-direction: column;
        align-items: center;


 
    @media screen and (min-width: 1200px) {
            display: flex;
            align-items: center;
            flex-direction: row;

            margin-top: 20px;
            gap: 12px;
        }

}

.register-Footer-title {
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-txt-cl);
}

.input-footer {
    width: 450px;
    height: 50px;
    padding-left: 16px;

    outline: transparent;

    color: var(--light-txt-cl);
    background-color: var(--accent-bg-cl);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin: 20px 0;

    @media screen and (max-width:479px) {
            width: 300px;
            height: 50px;
        }


        @media screen and (min-width: 1200px){
        width: 358px;
        height: 50px;       
    }

}

